@model IEnumerable<FinalProject.Models.Idea>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Idea ID</th>
            <th>Team Code</th>
            <th>Idea Title</th>
            <th>Idea Description</th>
            <th>Idea PPT Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var idea in Model)
        {
            <tr>
                <td>@idea.IdeaId</td>
                <td>@idea.TeamCode</td>
                <td>@idea.IdeaTitle</td>
                <td>@idea.IdeaDescription</td>
                <td>@idea.IdeaPPTLink</td>
            </tr>
        }
    </tbody>
</table>
